@import url('https://fonts.googleapis.com/css2?family=Jost&family=Nunito+Sans:wght@400;700&family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    /* font-family: 'Nunito Sans', sans-serif; */
        /* font-family: 'Roboto', sans-serif; */
        font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #373859;
    transition: 0.5s;
    /* font-size: 2em; */
}

header ul li {
    list-style: none;
}

header a {
    text-decoration: none;
    transition: 0.5s;
    color: #fff;
}

header a:hover {
    color: rgb(161, 162, 163);
    text-decoration: underline;
    letter-spacing: 0.5px;
}

.main {
    background: #B3C7DC;
}

.carousel img {
    max-height: 50%;
}

.main-text {
    margin-top: 10px;
    padding: 15px;
    text-align: center;
}

.main-text p {
    margin: 10px 0;
}

/* .news img {
    width: 100%;
    height: 50%;
} */

.life {
    background: rgb(153, 178, 252);

}

.life h2{
    /* margin-top: 10px; */
    padding: 15px;
    text-align: center;
}

.news img {
    width: 100%;
    height: 50%;
}

.news p {
    padding: 10px;
}

.photos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.photos p {
    padding: 10px;
}

.photos img {
    width: 49%;

}




@media (max-width: 700px) {
    header {
        padding: 20px 5%;
        /* font-size: 14px; */
    }
    
    .photos {
        gap: 5px;
    }

    .photos img {
        width: 100%;
    }

}